img {
    width: 50%;
    margin: auto;
    display: block;
    color: rgb(199, 213, 224);
    padding-top: 15px;
}

body {
    background-color: rgb(42, 71, 94);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

p {
    font-size: larger;
    color: rgb(199, 213, 224);
    margin: 25px;
    text-align: justify;
}

.nav {
    background-color: rgb(42, 71, 94);
}

.nav-link {
    font-size: larger;
    margin-top: 15px;
    color: rgb(199, 213, 224)
}
.nav-link:hover {
    color: rgb(102, 192, 244);
}

.active {
    color: rgb(141, 151, 158);
}

#imgbg-sajat {
    background-color: rgb(42, 71, 94);
}

body::-webkit-scrollbar {
    display: none;
}

#ctimgindex, #timgindex {
    width: 99%;
    border: 1px solid rgb(199, 213, 224);
    padding-top: 0px;
    margin: 0px 0px 0px 4px;
    transition: .5s;
}

#ctimgindex:hover, #timgindex:hover, .skinrarityexamples:hover {
    filter: brightness(75%);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

figure {
    text-align: center;
}

figure figcaption {
    color: rgb(199, 213, 224);
}

h2 {
    color: white;
    margin: auto;
   text-align: center;
   padding-top: 40px;
}

#valvelogo {
    margin: 0px 0px 0px 8px;
    width: 40%;
    padding-right: 30px;
}

li {
    color: rgb(199, 213, 224);
    font-size: larger;
    margin: 5px;
}

/* #valvegames {
    width: 30%;    
    padding-left:30px;
    float: left;
} */

.custom-link:link {
    color: rgb(199, 213, 224);
}

.custom-link:visited {
    color: rgb(141, 151, 158);
}

.custom-link:hover {
    color: rgb(102, 192, 244);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(199, 213, 224);
    margin: 25px;
}

.skinrarities {
    padding-left: 15px;
    padding-right: 15px;
}

.container-types li {
    list-style-type: disc;
    margin-left: 25px;
}

.container-types-intro {
    line-height: 0;
}

.imgfloatfix {
    display: inline;
}

.no-margin-h1 {
    margin-left: 0px;
    margin-right: 0px;
}

td, tr, th {
    color: rgb(199, 213, 224);
}

.skinrarityexamples {
    padding: 0px;
    margin: 0px auto;
    width: 250px;   
    transition: .5s;
}
#container {
    align-items: start;
    padding-left: 20px;
}

.skinraritiestable {
    background-image: url(images/halo-steam-color.png);
    background-size: 40%;
}

#container p {
   float: right;
   padding-right: 20px;
}

.skrr {
    margin-right: 25px;
}

footer {
    margin-bottom: 10px;
    background-image: url(images/11578307_415111_c7d458a5d4624b801bbccd606cbb9f95_wm.jpg);
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
ul img {
    width: 20%;
    margin-left: 20px;
} 



