img {
    width: 35%;
    margin: auto;
    display: block;
    color: rgb(199, 213, 224);
    padding-top: 15px;
}

body {
    background-color: rgb(42, 71, 94);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p {
    font-size: larger;
    color: rgb(199, 213, 224);
    margin: 25px;
    text-align: justify;
}

.nav {
    background-color: rgb(42, 71, 94);
}

.nav-link {
    font-size: large;
    margin-top: 15px;
    color: rgb(199, 213, 224)
}
.nav-link:hover {
    color: rgb(102, 192, 244);
}

.active {
    color: rgb(141, 151, 158);
}

#imgbg-sajat {
    background-color: rgb(42, 71, 94);
}

body::-webkit-scrollbar {
    display: none;
}

#ctimgindex, #timgindex {
    width: 99%;
    border: 1px solid rgb(199, 213, 224);
    padding-top: 0px;
    margin: 0px 0px 0px 4px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

figure {
    text-align: center;
}

figure figcaption {
    color: rgb(199, 213, 224);
}
h2 {
    color: white;
    margin: auto;
   text-align: center;
   padding-top: 40px;
}
#valvelogo {
    margin: 0px 0px 0px 8px;
    width: 20%;
    float: left;
    padding-right: 30px;
}

li {
    color: rgb(199, 213, 224);
    font-size: larger;
    margin: 5px;
}

h4 {
    color:rgb(199, 213, 224);
    padding-left: 10px;
}
#valvegames {
    width: 30%;    
    padding-left:30px;
    float: left;
}